:root {
  --darkMagenta: hsl(300, 43%, 22%);
  --softPink: hsl(333, 80%, 67%);
  --darkGray: hsl(303, 10%, 53%);
  --lightGray: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 25px;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px auto;
}

.showcase {
  margin-bottom: 40px;
}
.showcase h1 {
  display: flex;
  flex-direction: column;
  color: var(--darkMagenta);
  margin: 0 15px 20px;
}
.showcase p.description {
  color: var(--darkGray);
  font-size: 15px;
}
.ratings {
  display: flex;
  flex-direction: column;
}
.ratings #reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--lightGray);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}
.ratings #reviews:last-child {
  margin-bottom: 0;
}
.ratings span.checked {
  color: orange;
}
#reviews .stars {
  margin-bottom: 5px;
}
#reviews p {
  color: var(--darkMagenta);
  font-weight: 700;
}

.buyer-review {
  display: flex;
  flex-direction: column;
  background: var(--darkMagenta);
  padding: 50px 25px;
  margin-bottom: 20px;
  color: var(--white);
  border-radius: 10px;
}
.buyer-review:last-child {
  margin-bottom: 0px;
}
.customer {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.customer img {
  width: 50px;
  border-radius: 50%;
  margin-right: 25px;
}
.customer-info p.name {
  font-weight: 500;
}
.customer-info p.type-of-buyer {
  color: var(--softPink);
}
.customers-review p {
  font-weight: 400;
}
